- React = require 'react'
- Item = require './item'
- ItemPresenter = require '../presenters/item'

div
  ul(style="color: ##{@items()[0].toString(16)}")
    = @items.map (item, idx) -> React.createElement 'li', { key: "item-#{idx}" }, item