- React = require 'react'
- { JadeletWrapper } = require '../index'
- Item = require './item'
- ItemComponent = require '../components/Item'
- ItemPresenter = require '../presenters/item'

div
  span hi
  ul
    = @items.map (item, idx) -> React.createElement Item(ItemPresenter(item)), { key: "item-#{idx}" }